
    h2{
    text-align: center;
    }

    input{
        width: 500px;
        height: 30px;
    }

    .add{
        padding-top: 20px;
        text-align: center;
    }

    .tijiao{
        text-align: center;
    }
