.header{
    background-color: black;
    height:80px ;
    width: 100%;
    position: relative;
    display: flex;
}

.market{
    height:80px ;
    width: 50px;
}

.order{
    height:80px ;
    width: 50px;
}

.addProduct{
    height:80px ;
    width: 80px;
}


.market .order .add-product{
    display : inline-block;
}

.header p {
    padding-top: 10px;
}

.header .toLink {
    color: white;
    font-weight: 600;
    text-decoration: none;
}